<div class="sidebar py-4" ng-if="isLoggedIn()">
    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link text-white" href="#/dashboard">Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#/productos">Gestión de Productos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#/categorias">Gestión de Categorías</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#/facturacion">Generación de Facturas</a>
        </li>

        <li class="nav-item">
            <a href="" class="nav-link text-white" ng-click="mostrarSubmenuReportes = !mostrarSubmenuReportes">
                Reportes <span class="float-right">&#9662;</span>
            </a>
            <ul class="nav flex-column ml-3" ng-show="mostrarSubmenuReportes">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#/reportes/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#/reportes/facturas">Facturas</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
