
<div>
    <div class=" justify-content-between align-items-center mb-3">
        <h3>Reporte de Facturas </h3>
        <div>
            <button class="btn btn-outline-primary mr-2" ng-click="exportarExcel()">Exportar a Excel</button>
            <button class="btn btn-outline-secondary" ng-click="imprimir()">Imprimir</button>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-warning text-dark">
                    <h5 class="mb-0">Cantidad Vendida por Categoría</h5>
                </div>
                <div class="card-body">
                    <canvas class="chart chart-pie"
                            chart-data="vm.cantidadPorCategoria.data"
                            chart-labels="vm.cantidadPorCategoria.labels"
                            chart-options="vm.chartOptions"
                            chart-colors="vm.cantidadPorCategoria.colors">
                    </canvas>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h5 class="mb-0">Facturación Total por Mes</h5>
                </div>
                <div class="card-body">
                    <canvas class="chart chart-bar"
                            chart-data="vm.facturasPorMes.data"
                            chart-labels="vm.facturasPorMes.labels"
                            chart-options="vm.chartOptions"
                            chart-colors="vm.facturasPorMes.colors">
                    </canvas>
                </div>
            </div>
        </div>


    </div>


    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Buscar producto..." ng-model="filtroBusqueda">
        </div>
    </div>
    <table id="tablaReportInvoice"  class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Nombre del Producto</th>
            <th>Número de Factura</th>
            <th>Fecha de Factura</th>
            <th>Precio Total</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.productosFacturados | filter:filtroBusqueda">
            <td>{{ item.nombre }}</td>
            <td>{{ item.numero_factura }}</td>
            <td>{{ item.fecha_factura | date:'yyyy-MM-dd' }}</td>
            <td>${{ item.precio_total | number:2 }}</td>
            <td>
                <button class="btn btn-sm btn-info" ng-click="verFactura(item.numero_factura)">Ver</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>